name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  selenium-test:

    runs-on: ubuntu-latest

    steps:
    # download repo
    - uses: actions/checkout@v4
    
    # setup java
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        
    # setup browser  
    - name: Setup Chrome with extra capabilities
      uses: browser-actions/setup-chrome@v1.4.0

    # setup gradlew
    - name: Setup gradlew
      run: chmod +x gradlew

    # Excute gradle command for running test
    - name: Excute Test
      run : ./gradlew clean test
